{% extends "base.html" %}
{% block title %}About - Not Funny, Dad{% endblock %}

{% block main %}

<main class="about">
    <h2>About</h2>
    <p>This is a really simple little site built just for fun. 
        You can readily get more dad jokes elsewhere, including from, icanhazdadjoke.com, which is where some of these are pulled from.
        So, y'know, you can go straight to the source.
    </p>
    <p>So what's the point then? There isn't one, really. I wanted a throwback to the era of mashups, 
        and I wanted to highlight one of the more unusual government resources around, the fatherhood.gov dad joke database. 
        Fatherhood.gov came out of the 2000s panic over absentee fathers, and is really a pretty great resource. 
        And we appreciate the dad jokes.
    </p>
    <p>Originally, I had planned to pair the jokes with photos from other government resources such as the National Archives, Library of Congress or Smithsonian. 
        However, in spite of all three of them offering robust APIs, 
        I was not able to locate a suitable feed of dad photos. If anyone knows where to find them, let me know in Github, OK?
    </p>
    <p>Anyways, this is just a silly little thing I put together. Hope you like it. 
        If not, you can always go do something more useful with your time, like <a href="https://www.eac.gov/voters/become-poll-worker">becoming a poll worker</a>.
     </p>
</main>
{% endblock %}
